@page "/kafkatable"

@using Blazor.Sample.Data
@using Blazor.Sample.Data.Sensors

<h1>Kafka</h1>

<p>This component demonstrates observing data from a kafka materialized view.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Count</th>
            <th>Sum</th>
            <th>Latest 2 by offset</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items.Values)
        {
            <tr>
                <td>@item.SensorId</td>
                <td>@item.Count</td>
                <td>@item.Sum</td>
                <td>@item.LatestByOffsetJoined</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IDictionary<string, IoTSensorStats> items;

    protected override void OnInitialized()
    {
        items = new Dictionary<string, IoTSensorStats>();
    }
}