<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor.Sample</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="kafkastream">
                <span class="oi oi-plus" aria-hidden="true"></span> Stream
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="kafkatable">
                <span class="oi oi-home" aria-hidden="true"></span> Table
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sqlserver" Match="NavLinkMatch.All">
                <span class="fa fa-database fa-fw" aria-hidden="true"></span>&nbsp; SqlServer-CDC
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
