name: .NET

on: [push]

jobs:
  build:

    runs-on: windows-latest

    env:
      ksqlDB_Test_Project_Path: Tests\ksqlDB.RestApi.Client.Tests\ksqlDB.Api.Client.Tests.csproj

    steps:

    - uses: actions/checkout@v3

    - name: Setup DotNet Core 3.1
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 3.1.x

    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x

    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Clean
      run: dotnet clean ksqlDb.RestApi.Client.sln --configuration Release && dotnet nuget locals all --clear
    - name: Install dependencies
      run: dotnet restore ksqlDb.RestApi.Client.sln
    - name: Build with dotnet
      run: dotnet build ksqlDb.RestApi.Client.sln --configuration Release
    
    # Test
    - name: Execute ksqlDb RestApi Client Unit Tests
      run: dotnet test $env:ksqlDB_Test_Project_Path
